<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Blog</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h3 class="card-title">Bình luận chưa trả lời</h3>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>No</th>
                      <th>Mã sản phẩm</th>
                      <th>Sao đánh giá</th>
                      <th>Ngày đánh giá</th>
                      <th>Đánh giá</th>
                      <th></th>
                    </thead>
                    <tbody >
                      <tr *ngFor="let item of review, let i = index ">
                        <td>{{i+1}}</td>
                        <td>{{item.product}}</td>
                        <td>{{item.rating}}</td>
                        <td>{{item.timeOrder|date}}</td>
                        <td >{{item.review}}</td>
                        <td>
                          <app-edit-blog [id]="item.id" (updateFinished)="finishAndAlert($event)">

                          </app-edit-blog>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <span *ngIf="review.length==0" style="margin-left: 50%;">Không có dữ liệu</span>
                </div>
                <form>
                  <mat-paginator *ngIf="lenght!=0" [length]="lenght" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="LoadPagesize($event)"
                  aria-label="Select page">
                </mat-paginator>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </mat-drawer-content>
</mat-drawer-container>
